body {
  font-family: Cantarell, Optima, Candara, Calibri, Arial, sans-serif;
}

code {
  font-family: "Hack", "Lucida Console", Monaco, monospace;
  font-size: 85%;
}

pre code {
  font-size: 80%;
}

@media screen and (max-width: 760px) {
  pre code {
    font-size: 70%;
  }
}

.small-code {
  font-size: 85%;
}

/* @media screen and (min-width: 480px) {} */
