body {
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: Liberation Mono, "Hack", "Lucida Console", Monaco, monospace;
  font-size: .875em;
}

pre code {
  font-size: .875em;
}

@media screen and (max-width: 760px) {
  pre code {
    font-size: 70%;
  }
}

.fs90 {
  font-size: 90%;
}
