body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

code {
  font-family: monospace, monospace;
  font-size: calc(1em * 0.875);
}

pre code {
  font-size: .875em;
}

@media screen and (max-width: 760px) {
  pre code {
    font-size: 70%;
  }
}

.fs90 {
  font-size: 90%;
}

.fs85 {
  font-size: 85%;
}

.fs80 {
  font-size: 80%;
}
