body {
  font-family: sans-serif;
  /* font-family: "Open Sans", Cantarell; */
}

code {
  font-family: Liberation Mono, "Hack", "Lucida Console", Monaco, monospace;
  font-size: 85%;
}

pre code {
  font-size: 80%;
}

@media screen and (max-width: 760px) {
  pre code {
    font-size: 70%;
  }
}

.small-code {
  font-size: 85%;
}
