{{ partial "header.html" . }}

<div class="list-page-content">

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{ if .IsHome }}
  {{ range .Sections }}
  <h2>{{ .CurrentSection.Title }}</h2>
  <ul class="post-list">
    {{ range .CurrentSection.RegularPages }}
    <li>
      <div style="display: grid; grid-template-columns: 6em auto;">
        {{ if .CurrentSection.Date }}
          <span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
        {{ end }}
        {{ if .Params.bold }}
          <a class="bold-post-in-list" href="{{ .RelPermalink }}">{{ .Page.Title | markdownify }}</a>
        {{ else }}
          <a href="{{ .RelPermalink }}">{{ .Page.Title | markdownify }}</a>
        {{ end }}
      </div>
    </li>
    {{ end }}
  </ul>
  {{ end }}
{{ else }}
  <ul class="post-list">
    {{ $pages := .Pages }}
    {{ $section := .Section }}
    {{ range (where $pages "Section" "==" $section ) }}
    <li>
      <div style="display: grid; grid-template-columns: 6em auto;">
        {{ if .CurrentSection.Date }}
          <span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
        {{ end }}
        {{ if .Params.bold }}
          <a class="bold-post-in-list" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        {{ else }}
          <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        {{ end }}
      </div>
    </li>
    {{ end }}
  </ul>
{{ end }}

</div>

{{ partial "footer.html" . }}
