{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<ul class="post-list">
  {{ $pages := .Pages }}
  {{ $section := .Section }}
  {{ if .IsHome }}
    {{ $pages = .Site.RegularPages }}
    {{ $section = "post" }}
  {{ end }}
  {{ range (where $pages "Section" "==" $section ) }}
  <li>
    <div style="display: grid; grid-template-columns: 6em auto;">
      <span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
      {{ if .Params.bold }}
        <a class="bold-post-in-list" href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
      {{ else }}
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
      {{ end }}
    </div>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
