{{ partial "header.html" . }}
<div class="article-meta">
  <h1>
    <span class="title">{{ .Title | markdownify }}</span>
  </h1>
  <div id="subtitle">
    {{ if .Params.date }}
    <span class="datesub">{{ .Date.Format "Jan 2, 2006" }}</span>
    {{ end }} {{ partial "tags.html" .}}
  </div>
</div>

{{ if .Params.toc }}
<aside class="hidden lg:block toc " id="tableOfContentContainer">
  {{ .TableOfContents }}
</aside>
{{ end }}

{{ if .Params.summary }}
<p>{{ .Params.summary }}</p>
{{ end }}

<main>{{ .Content }}</main>

{{ partial "single_custom.html" . }} {{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }} {{ end }} {{ partial "footer.html" . }}
