/* CODE */
.highlight div,
pre {
  background-color: var(--code-background);
  padding: 0.7em;
  overflow-x: auto;
  margin: 0px;
  border: 1px solid var(--code-border);
}

/* TODO: Remove this */
.output pre {
  color: #9a3412;
}

.highlight {
  margin: 0.8em 0;
}

.highlight div pre {
  border: 0px;
  padding: 0px 5px;
  margin: 0px;
  box-shadow: 0px 0px 0px;
}

code {
  background: var(--code-background);
  border-radius: 5%;
  padding: 1px 4px;
  border: 1px solid var(--code-border);
  font-family: monospace, monospace;
  font-size: calc(1em * 0.875);
}

pre code {
  border: none;
  background: none;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  /* font-size: .875em; */
  font-size: 0.82em;
  tab-size: 4;
}

@media screen and (max-width: 760px) {
  pre code {
    font-size: 80%;
  }
}

.fs90 {
  font-size: 90%;
}

.fs85 {
  font-size: 85%;
}

.fs80 {
  font-size: 80%;
}

/* Line numbers in code blocks. */
.ln {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 14px;
  color: rgb(150, 150, 150);
}

.hl {
  background-color: var(--code-hl);
  outline-style: solid;
  outline-color: var(--code-hl);
  outline-width: 2px;
}

/* Copy code button */
.copy-code-button {
  display: none;
}

@keyframes copy-code-button {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 760px) {
  .copy-code-button {
    animation-duration: 1s;
    animation-name: copy-code-button;
    margin-top: -21px;
    float: right;
    display: block;
    background-color: var(--code-background);
    border-color: var(--code-border);
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-radius: 2px 2px 0 0;
    color: var(--text-dim);
  }
}
