@keyframes images {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img {
  max-height: 70vh;
  margin: 0.8em 0;
  animation-duration: 1s;
  animation-name: images;
}

.imgp {
  margin: auto;
  text-align: center;
}

.imgp img {
  border-radius: 4px;
}

figure {
  margin: auto;
  text-align: center;
}

figcaption {
  color: var(--text-dim);
  text-align: center;
}

figcaption h4 {
  margin-top: 0px;
  font-weight: normal;
}

img,
iframe,
video {
  max-width: 100%;
}

/* Image gallery. */
.image-gallery {
  padding: 0 0 1rem 0;
  magin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-left: 0;
}

.image-gallery > li {
  flex-basis: 440px;
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;

  vertical-align: middle;
  border-radius: 4px;
}

.image-gallery-title {
  text-align: center;
  color: var(--text-dim);
}

.igt {
  text-align: center;
  color: var(--text-dim);
}

.three-image-gallery > li {
  flex-basis: 290px;
}
