@keyframes rose-icon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rose-icon {
  filter: invert(85%);
  position: fixed;
  z-index: -100;
  bottom: -2px;
  left: -0px;
  max-height: 20vh;
  transform: rotate(94deg);
  animation-duration: 1s;
  animation-name: rose-icon;
}

@media (prefers-color-scheme: dark) {
  .rose-icon {
    filter: invert(30%);
  }
}

@media screen and (max-width: 1000px) {
  .rose-icon {
    display: none;
  }
}


