/* SEARCH */
#search-input {
  width: 72%;
}

@media screen and (min-width: 900px) {
  #search-input {
    width: 42%;
  }
}

@media screen and (min-width: 1150px) {
  #search-input {
    width: 33%;
  }
}

input {
  background-color: var(--background);
  color: var(--text);
  border-color: var(--border-general);
  /* padding: 6px; */
  border-radius: 4px;
}

#results {
  padding-left: 16px;
}

