/* TOC */
.toc a {
  color: var(--text-dim);
}

.toc a:visited {
  color: var(--text-dim);
}

@media screen and (min-width: 1150px) {
  #tableOfContentContainer {
    position: fixed;
    left: 20px;
    top: 50px;
    max-width: 15vw;
    width: 15vw;
  }

  #TableOfContents {
    opacity: 0.6;
    transition-duration: 1s;
  }

  #TableOfContents:hover {
    opacity: 1;
  }
}

.toc {
  animation-duration: 1s;
  background: var(--toc-background) none repeat scroll 0 0;
  border: 1px solid var(--toc-border);
  display: table;
  font-size: 95%;
  margin-bottom: 1em;
  padding: 0.4em 1.5em 0.4em 0.2em;
  width: auto;
  margin-top: auto;
}

@media screen and (min-width: 1150px) {
  .toc {
    padding: 0;
    background-color: transparent;
    font-size: 80%;
    line-height: 1.3;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-left: 0px;
  }

  #TableOfContents {
    max-height: 85vh;
    overflow-y: auto;
  }

  #TableOfContents li {
    max-width: 13vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* !important was here for some reason. */
.toc li,
.toc ul,
.toc ul li {
  list-style: outside none none;
}

.toc ul li a {
  transition-duration: 50ms;
}

.active-toc {
  font-weight: bold;
  transition-duration: 50ms;
}

/* h2 in toc has 20px padding and h1 should be the title and shouldn't be present in toc */
@media screen and (min-width: 1150px) {
  #TableOfContents {
    margin-left: -32px;
  }
}

#TableOfContents ul {
  padding-left: 20px;
}

.toc h3 {
  margin-left: 20px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
}
