<br>

{{ if .Site.Params.roseIcon }}
<div>
    <img class="rose-icon" src="{{ relURL "/images/rose.svg" }}"/>
</div>
{{ end }}

<footer>
{{ partial "footer_scripts.html" . }}
{{ partial "search-index.html" . }}

{{ if .Site.Params.quickLink }}
    <script src="{{ relURL "js/quicklink.umd.js" }}"></script>
    <script>
      window.addEventListener('load', () => {
        const options = {
          throttle: 3,
          delay: 300,
        };
        quicklink.listen(options);
      });
    </script>
{{ end }}

</footer>

</body>
</html>
