<!-- Add _blank to all external links -->
<script defer>
  var links = document.getElementsByTagName("a");

  for (var i = 0, linksLength = links.length; i < linksLength; i++) {
    if (links[i].hostname != window.location.hostname) {
      links[i].target = '_blank';
    }
  }
</script>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.slim.min.js"></script>
<script defer type="text/javascript">
const anchors = $('body').find('h2,h3');

$(window).scroll(function(){
    var scrollTop = $(document).scrollTop();

    // highlight the last scrolled-to: set everything inactive first
    for (var i = 0; i < anchors.length; i++){
        $('nav ul li a[href="#' + $(anchors[i]).attr('id') + '"]').removeClass('active-toc');
    }

    // then iterate backwards, on the first match highlight it and break
    for (var i = anchors.length-1; i >= 0; i--){
        if (scrollTop > $(anchors[i]).offset().top - 75) {
            $('nav ul li a[href="#' + $(anchors[i]).attr('id') + '"]').addClass('active-toc');
            break;
        }
    }
});
</script>
