<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
    {{ else }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ end }} <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" /> {{ partial
    "head_custom.html" . }}
  </head>

  <body>
    {{ if not (and (eq .Section "paste") ( .IsPage )) }}
    <nav>
      <ul class="menu">
        {{ range .Site.Menus.main }}
        <li><a class="menu-link" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
    {{ end }}
  </body>
</html>
