<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap" rel="stylesheet">

<link href="/fonts/iosevka-extendedlight.woff2" rel="preload" type="font/woff2" as="font" crossorigin="">

<style>
@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('/fonts/iosevka-extendedlight.woff2') format('woff2');
}

h1, h2 {
  font-family: 'Space Grotesk', sans-serif;
}

body {
  text-align: justify;

  font-family: 'Space Grotesk', sans-serif;
  font-size: 17px;
}

code {
  font-family: 'Iosevka Web', sans-serif;
    font-weight: 300;
    font-stretch: expanded;
    font-style: normal;
}

pre code {
  font-family: 'Iosevka Web', sans-serif;
    font-weight: 300;
    font-stretch: expanded;
    font-style: normal;
  font-size: 13.5px;
}
</style>
